.img-category{
    
    border-radius: 50%;
    border: 4px dashed rgb(160, 160, 229);
    padding: 2px;
    overflow: hidden;
   justify-content: center;
   align-items: center;
   display: block;
}
.image{
   
    width: 50px;
    text-align: center;
    height: 60px;
}
#categoty-img{
    width: 80%;
    align-items: center;
    overflow: hidden;
    
}
.content-img{
    justify-content: center;
    align-items: center;
    display: flex;
}
.img_pro{
    height: 100px !important;
    padding: 6px !important;
}
#Card-prod{
    height: 250px !important;
}
.product-list{
    border: 1px dashed rgb(182, 177, 177);
    margin: 3px;
    text-align: center;
    list-style: none;
    overflow: hidden;
}
.product-det{
    font-size:12px;
    list-style: none;
    border:1px dashed rgb(182, 177, 177) ;
    margin: 2px;
    height: 21px;
    overflow: hidden;
    text-align: center; 
    justify-content: center;
    width: 100%;
}
.btn-sm {
    /* float: right; */
    margin-top: 15px;
}
.product-link{
    text-decoration: none;
}
@media (max-width:370px) {
    #Card-prod{
        width: 130px !important;
        margin-bottom:30px !important ;
    }
}
.product-body{
margin: 0;
font-family: sans-serif;
background-color: #fff;
overflow: hidden;

}

.Gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
   margin-bottom:30px ;
   margin-top: 30px;
}
.content{
width: 20%;
margin: 15px;
box-sizing: border-box;
float: left;
text-align: center;
border-radius: 20px;
cursor: pointer;
padding-top: 10px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);
transition: .4s ease-in-out;
background:#f2f2f2;
position: relative;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ;
    transform: translate(0px, -5px);
    color: #5678e9;
}
.Img-product{
width: 150px;
height: 150px;
text-align: center;
margin: 0 auto;
display: block;

position: relative;
}
.Addto-cart{
top: 5px !important;
right: 5px !important;
border: 0;
font-size: 25px;
outline: none;
color: #2183a2;
transition: 0.2s ease-in;
background-color: transparent;
overflow: hidden;
}
.Addto-cart:hover{
    color: #085e79;
    font-size: 30px;
    opacity: 2;

}
.product-name{
text-align: center;
font-size: 15px;
margin: 0;
padding: 6px;
overflow: hidden;
height: 30px;
}
.product-descrip{
text-align: center;
color: #b2bec3;

overflow: hidden;
height: 30px;
font-size: 10px;
}
.product-price{
font-size: 26px;
text-align: center;
color: rgb(14, 216, 14);
margin: 0;
overflow: hidden;
}
.ByNow{
 text-align: center;
 font-size: 16px;
 color: #fff;
 width: 100%;
 padding: 7px;
 border: 0;
 outline: none;
 cursor: pointer;
 
 border-bottom-right-radius:20px ;
 border-bottom-left-radius: 20px;
 /* background-color: #2183a2; */
 /* background: linear-gradient(90deg, #0162c8, #55e7fc); */
margin-top: 0px;
background: linear-gradient(90deg, #03a9f4,#f441a5,#ffeb3b,#03a9f4);
background-size: 400%;

z-index: 1;

}
.ByNow:hover{
    /* background: linear-gradient(90deg, #55e7fc, #0162c8) */
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }

}

.retting{
font-size: 20px;
margin: 1px;
overflow: hidden;

}
.revew{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:0 ;
    overflow: hidden;
    margin-left: -20px;
}
@media (max-width:900px) {
    .Gallery{
        margin-top:30px ;
        padding: 0px;
    }
    .content{
        width: 45%;
      
        
    }
    .product-price{
        font-size: 20px;
    }
    
    
}
@media (max-width:620px) {
    .content{
        width: 45%;
       margin: 10px;
      
    }
    .ByNow{
        padding-top: 0;
    }
    .revew{
        margin-bottom: 0px;
    }
    
}
@media (max-width:405px) {
    .content{
        width: 45%;
       margin: 5px;
       height: 270px;
       margin-bottom: 40px;
    }
    .Img-product{
        width: 120px;
        height: 120px;
    }
    .retting{
        font-size: 15px;
    }
    
}
.product-view{
    text-decoration: none;
    color: black;
}